@page
@model ExchangeModel
@{
    ViewData["Title"] = "Exchange";
}

@section Scripts {
    <script language="javascript">
        alert("This is a test");
    </script>
}
<div>
    <h1>Exchange</h1>
</div>